.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.footer p{
    padding: 10px;
    font-weight: bold;

}
.footer ul{
    display:flex;
}
.footer li{
    list-style: none;
    margin-left: 20px;
}

/* media query */
@media (max-width:600px){
    .footer{
        display: block;
        text-align: center;
    }
    .footer ul li{
        margin: 10px;
    }
    .footer ul{
        margin-top: 10px;
    }
}